<!doctype html>
<html>
    <head>
        <title>Blogz!!!</title>
    </head>
    <body>
        <div style="display:inline-block">
            <a href="/">Main Page</a>
            <a href="/addblog">Add a blog</a>
            <a href="/allblog">All posts</a>
            <div style="text-align:right">
                <a  href="/signup">Signup</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <h1 style="text-align:center">Blogz!!!!</h1>
        {% block content %}
        {% endblock %}

    </body>
</html>